name: Undertow Servlet TCK

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
  workflow_dispatch:

jobs:
  build-test-package:
    name: Compile assets with JDK 17(no tests)
    runs-on: ubuntu-latest
    steps:
      - uses: n1hility/cancel-previous-runs@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            m2-
      - name: Generate settings.xml for Maven Builds
        uses: whelk-io/maven-settings-xml-action@v21
        with:
          repositories: |
            [
              { 
                "id": "jboss", 
                "name": "JBoss", 
                "url": "https://repository.jboss.org/nexus/content/groups/public" 
               },
               {
                "id": "github",
                "name": "build",
                "url": "https://maven.pkg.github.com/baranowb/undertow",
                "snapshots": {
                    "enabled": "true"
                  }  
               }
            ]
          servers: |
            [
              {
                "id": "github",
                "username": "${{ github.actor }}",
                "password": "${{ secrets.GITHUB_TOKEN }}"
              }
            ]
      - name: Print Version
        run: mvn -v
      - uses: actions/checkout@v6
        with:
          path: undertow
      - uses: actions/checkout@v6
        with:
          path: wildfly
          repository: wildfly/wildfly
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - name: Build Undertow
        run: |
          cd undertow
          mvn clean install -DskipTests
      - name: Deploy Undertow To Git Packages
        run: |
          cd undertow
          mvn deploy -DaltDeploymentRepository=github::https://maven.pkg.github.com/baranowb/undertow -DskipTests
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Get Undertow Version
        id: undertow-version
        run: |
          cd undertow
          version="`mvn org.apache.maven.plugins:maven-help-plugin:2.1.1:evaluate -Dexpression=project.version | sed -n -e '/^\[.*\]/ !{ /^[0-9]/ { p; q } }'`"
          echo "UNDERTOW_VERSION=$version" >> "$GITHUB_ENV"
          # https://github.com/marketplace/actions/get-current-pom-version-of-project ?
      - name: Build WFLY
        run: |
          cd wildfly
          mvn -DskipTests -Dversion.io.undertow="$UNDERTOW_VERSION" clean install
          version="`mvn org.apache.maven.plugins:maven-help-plugin:2.1.1:evaluate -Dexpression=project.version | sed -n -e '/^\[.*\]/ !{ /^[0-9]/ { p; q } }'`"
          echo "WILDFLY_VERSION=$version" >> "$GITHUB_ENV"
          mv -v ee-dist/target/wildfly-$version ee-dist/target/wildfly
      - name: Tar WFLY Dist
        shell: bash
        run: |
          cd 
          tar -czf wildfly.tgz -C wildfly/ee-dist/target wildfly
          echo "====================="
          tar -tf wildfly.tgz
      - name: Upload WFLY Dist
        uses: actions/upload-artifact@v4
        with:
          name: wildfly-dist
          path: wildfly.tgz
      - name: Tar Maven Repo
        shell: bash
        run: tar -czf maven-repo.tgz -C ~ .m2/repository
      - name: Upload Maven Repo
        uses: actions/upload-artifact@v4
        with:
          name: maven-repo
          path: maven-repo.tgz
      - name: Display structure of downloaded files
        run: |
          ls -a
          echo "XXX $UNDERTOW_VERSION"



  jakarta-servlet-tck:
    name: Run servlet TCK JDK 17
    runs-on: ubuntu-latest
    needs: build-test-package
    steps:
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            m2-
      - name: Generate settings.xml for Maven Builds
        uses: whelk-io/maven-settings-xml-action@v21
        with:
          repositories: |
            [
              { 
                "id": "jboss", 
                "name": "JBoss", 
                "url": "https://repository.jboss.org/nexus/content/groups/public" 
               },
               {
                "id": "github",
                "name": "build",
                "url": "https://maven.pkg.github.com/baranowb/undertow",
                "snapshots": {
                    "enabled": "true"
                  }  
               }
            ]
          servers: |
            [
              {
                "id": "github",
                "username": "${{ github.actor }}",
                "password": "${{ secrets.GITHUB_TOKEN }}"
              }
            ]
      - name: Print Version
        run: mvn -v
      - uses: actions/checkout@v6
        with:
          path: wildfly-tck-runners
          repository: wildfly/wildfly-tck-runners
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
      - uses: actions/checkout@v4
      - name: Download Maven Repo
        uses: actions/download-artifact@v4
        with:
          name: maven-repo
          path: .
      - name: Extract Maven Repo
        shell: bash
        run: tar -xzf maven-repo.tgz -C ~
      - name: Download Wildfly Distribution
        uses: actions/download-artifact@v4
        with:
          name: wildfly-dist
          path: .
      - name: Extract Maven Repo
        shell: bash
        run: tar -xzf maven-repo.tgz -C ~
      - name: Extract Wildfly Dist
        shell: bash
        run: tar -xzf wildfly.tgz -C ~
      - name: Display structure of downloaded files
        run: |
          echo "====================="
          ls -a
          echo "====================="
          pwd
          echo "====================="
      - name: Run Servlet TCK
        run: |
          export JBOSS_HOME=`pwd`/wildfly
          cd wildfly-tck-runners/jakarta-ee-tck-runners/servlet-tck
          mvn install
          
